<h1>Kommande event <small>Klicka för att boka!</small></h1>
<div class="list-group">
  {{#each model as |event|}}
    {{#link-to 'events.show' event class="list-group-item"}}
    <h4 class="list-group-item-heading">
      {{event.name}} <small>{{moment-format event.date 'LLLL'}}</small> {{fa-icon 'stop' class=event.availabilityString}}
    </h4>
    <p>{{event.description}}</p>
    <strong>Biljettpris:</strong> {{event.price}}:-
  {{/link-to}}
{{/each}}
</div>
{{log session}}
{{#if session.isAuthenticated}}
  {{#link-to 'events.new' class="btn btn-primary"}}Skapa nytt event{{/link-to}}
{{/if}}
