  <h1>Köp biljetter till Grebbans Nöjesrestaurang här!</h1>
  <p>Här kan du köpa biljetter till kommande evenemang hos Grebbans Nöjesrestaurang! För frågor kontakta oss på info@grebbans.se</p>
  <hr/>
<h2>Kommande evenemang</h2>
<div class="list-group">
  {{#each model as |event|}}
    {{#link-to 'events.show' event class="list-group-item"}}
    <h4 class="list-group-item-heading">
      {{event.name}} <small>{{moment-format event.date 'LLLL'}}</small> {{fa-icon 'stop' class=event.availabilityString}}
    </h4>
    <p>{{event.description}}</p>
    <strong>Biljettpris:</strong> {{event.price}}:- <span style="font-size: 10px">({{event.netPrice}}:- ex. moms)</span>
  {{/link-to}}
{{/each}}
</div>
{{#if session.isAuthenticated}}
  {{#link-to 'events.new' class="btn btn-primary"}}Skapa nytt event{{/link-to}}
    <hr/>
  {{#link-to 'events.index'  (query-params historical=true) class="btn btn-primary"}}Visa eventhistorik{{/link-to}}
  {{#link-to 'events.index' (query-params historical=null) class="btn btn-primary"}}Visa kommande events{{/link-to}}
{{/if}}
