<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bokningsbekräftelse: Grebbans Nöjesrestaureang</h1>
    <p>
      Event: <%= @booking.event.name %><br/>
      Datum: <%= @booking.event.date.strftime('%F %R')%><br/>
      Antal biljetter: <%= @booking.tickets %>
    </p>
    <p>
    Du hittar biljett och faktura på följande länk: <a href="<%= ENV['BOOKING_LINK_URL'] + @booking.token %>"><%= ENV['BOOKING_LINK_URL'] + @booking.token %></a>
    </p>
    <p>Välkomna!</p>
  </body>
</html>
