<h2>Köp biljetter till {{model.event.name}} <small>{{moment-format model.event.date 'LLLL'}}</small></h2>
<h4>{{model.event.price}}:-/pers. inkl. moms</h4>
<div class="form" style="margin-top:30px;">
  <hr/>
  <div class="row">
    <p class="form-control-static input-lg text-center">Jag vill köpa...</p>
  <div class="form-group {{if model.errors.tickets 'has-error'}} {{if tooManyTickets 'has-error'}} text-center">
    <div class="col-sm-offset-2 col-sm-4 text-center">
      <div class="input-group">
        <span class="input-group-addon input-lg" id="basic-addon1">Antal biljetter</span>
        {{input type="number" min=1 value=model.tickets class="form-control input-lg" }}
      </div>
    </div>
    <div class="col-sm-4">
      {{#if tooManyTickets}}
        <div class="alert alert-info">
          Är ni ett större sällskap på <strong>över 20 personer</strong> så kontakta oss på telefon <strong>0730-314407</strong> för personlig service eller maila din bokning till <strong>info@grebbans.se</strong>
        </div>
      {{else}}
        <p class="form-control-static input-lg" style="word-spacing:10px;"> x <strong>{{model.discountedTicketPrice}}:-</strong> = <strong>{{model.calculatedTotalPrice}}:-</strong> inkl.moms</p>
      {{/if}}
    </div>
  </div>
</div>
  <hr/>
  <div class="row">
  <div class="form-group text-center">
    <p class="form-control-static input-lg text-center">Jag köper biljetter som...</p>
    <div class="btn-group">
      <button class="btn btn-default btn-lg {{if model.isBusiness 'active'}}" {{action 'setType' 'business'}}>Företag</button>
      <button class="btn btn-default btn-lg {{if model.isPrivate 'active'}}" {{action 'setType' 'private'}}>Privatperson</button>
    </div>
  </div>
</div>
</div>
{{#if typeIsSet}}
  <hr/>
    <div class="row">
    <p class="form-control-static input-lg text-center">Kontaktinformation</p>
  <div class="form-horizontal">
    <div class="form-group {{if model.errors.name 'has-error'}} required">
      <label class="control-label col-sm-1 col-sm-offset-3">{{if model.isPrivate 'Namn'}}{{if model.isBusiness 'Företagsnamn'}}</label>
      <div class="col-sm-4">
        {{input value=model.name class="form-control"}}
      </div>
    </div>
    {{#if model.isBusiness}}
      <div class="form-group {{if model.errors.contact_person 'has-error'}} required">
        <label class="col-sm-1 control-label col-sm-offset-3">Kontaktperson</label>
        <div class="col-sm-4">
          {{input value=model.contact_person class="form-control"}}
        </div>
      </div>
    {{/if}}
    <div class="form-group {{if model.errors.email 'has-error'}} required">
      <label class="control-label col-sm-1 col-sm-offset-3">E-post</label>
      <div class="col-sm-4">
        {{input value=model.email class="form-control" name="email"}}
      </div>
    </div>
    <div class="form-group {{if showEmailDiffersMessage 'has-error'}} required">
      <label class="control-label col-sm-2 col-sm-offset-2">Bekräfta E-post</label>
      <div class="col-sm-4">
        {{input value=confirmEmail class="form-control" autocomplete="off"}}
        {{#if showEmailDiffersMessage}}{{fa-icon 'exclamation-triangle' title='E-post adresserna matchar inte' class="text-danger"}}{{/if}}
        </div>
      </div>
      <div class="form-group {{if model.errors.phone_nr 'has-error'}} required">
        <label class="control-label col-sm-1 col-sm-offset-3">Telefon</label>
        <div class="col-sm-4">
          {{input value=model.phone_nr class="form-control" name="phone_nr"}}
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
    <p class="form-control-static input-lg text-center">Meddelande</p>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="alert alert-info">Här kan du meddela ifall...
            <ul>
              <li> ...någon i ditt sällskap är rullstolsburen</li>
              <li> ...någon i ditt sällskap har allergi eller önskar specialkost</li> 
              <li> ...ni firar någon / något</li>
              <li> ...det finns något annat som ni vill att vi ska känna till</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
          {{textarea value=model.message class="form-control" rows=7}}
        </div>
      </div>
      {{#if showAdminFields}}
        <hr/>
        <div class="form-horizontal" style="background:#e4e4fe; border-radius:5px; border:1px dashed black;padding:10px">
            <h2>Administratörsfält</h2>
            <div class="row">
              <div class="form-group {{if model.errors.delivery_date 'has-error'}} ">
                <label for="inputEventDate" class="col-sm-3 control-label">Leveransdatum</label>
                <div class="col-sm-3">
                  {{bs-datetimepicker date=model.deliveryDate format='YYYY-MM-DD' locale='sv'}}
                  {{#each model.errors.delivery_date as |error|}}
                  <span class="help-block" id="helpBlockName">{{error.message}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group {{if model.errors.due_date 'has-error'}} ">
                <label for="inputEventDate" class="col-sm-3 control-label">Förfallodatum</label>
                <div class="col-sm-3">
                  {{bs-datetimepicker date=model.dueDate format='YYYY-MM-DD' locale='sv'}}
                  {{invoiceDaysCalculated}} dagar netto
                  {{#each model.errors.due_date as |error|}}
                  <span class="help-block" id="helpBlockName">{{error.message}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
          <div class="row">
            <div class="form-group {{if model.errors.discount 'has-error'}}">
              <label class="control-label col-sm-3">Rabatt (kr/biljett inkl. moms)</label>
              <div class="col-sm-3">
                {{input type="number" value=model.discount class="form-control"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group {{if model.errors.discount_message 'has-error'}}">
              <label class="control-label col-sm-3">Rabattmeddelande</label>
              <div class="col-sm-7">
                {{input value=model.discountMessage class="form-control" }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group {{if model.errors.memo 'has-error'}}">
              <label class="control-label col-sm-3">Notering (admin)</label>
              <div class="col-sm-7">
                {{textarea value=model.memo class="form-control" rows="5"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-3">Betalning verifierad</label>
              <div class="col-sm-3 material-switch">
                <div class="material-switch pull-left">
                  {{input id="paidSwitch" type="checkbox" checked=model.paid }}
                  <label for="paidSwitch" class="label-success"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-3">Skicka E-mail</label>
              <div class="col-sm-3 material-switch">
                <div class="material-switch pull-left">
                  {{input id="emailSwitch" type="checkbox" checked=model.sendEmail }}
                  <label for="emailSwitch" class="label-success"></label>
                </div>
              </div>
            </div>
          </div>
      </div>
      {{/if}}
        {{#if model.errors}}
          <div class="alert alert-danger">
            {{#each model.errors as |error|}}
              {{error.message}}<br/>
            {{/each}}
          </div>
        {{/if}}
        <hr/>
        <div class="alert alert-info" style="padding-left:30px">
          <div class="row">
            <h2>Bekräfta köp</h2>
            <p>Följande kommer att hända då du klickar på <strong>Bekräfta köp</strong> nedan:</p>
            <p>
            <ul>
              <li>Ditt köp registreras och är därmed bindande</li>
              <li>Du kommer att skickas vidare till en sida där din <strong>Biljett</strong> och <strong>Faktura</strong> finns tillgängliga för nedladdning</li>
              <li>Ett bekräftelsemail med information kring din bokning skickas till angiven E-post-adress</li>
              <li><strong>Fakturan</strong> betalar du enklast genom banköverföring</li>
              <li><strong>Biljetten</strong> skriver du ut och tar med dig till Grebbans Nöjesrestaurang</li>
            </ul>
            </p>
            <hr/>
            <div class="form-group">
              <div class="col-sm-9">
                <label for="termsCheckbox"> {{input type="checkbox" checked=model.termsAccepted id="termsCheckbox" class="inline-form-control"}} Jag bekräftar att jag har läst och accepterar <a href="#" data-toggle="modal" data-target="#termsModal">köpvillkoren</a></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
                {{#unless savingMode}}
                  <button {{action 'save' model}} class="btn btn-primary btn-lg" disabled="{{saveDisabled}}">Bekräfta köp</button>
                {{else}}
                  Sparar...
                {{/unless}}
              </div>
          </div>
        </div>

        <div class="modal fade" id="termsModal" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Villkor</h3>
              </div>
              <div class="modal-body">
                <p>
                <strong>Köpeavtalet</strong><br/>
                Köpeavtalet är underkastat rättsreglerna i svensk lagstiftning. Avtalet är bindande för båda parter när
                Rockenstierna Nöjesproduktion AB har registrerat din bokning och kunden har godkänt villkoren.
                </p>

                <p>
                <strong>Betalning</strong><br/>
                Betalning sker vid bokning mot faktura.
                Om kredittiden passerat kommer en påminnelseavgift samt dröjsmålsränta att läggas på från första
                dagen efter att betaltiden gått ut.
                </p>

                <p>
                <strong>Biljetten</strong><br/>
                Om du får förhinder och inte kan delta i ett evenemang får du gärna ge din plats till en vän.
                </p>

                <p>
                <strong>Återbetalning</strong><br/>
                Köpta platser återbetalas endast vid inställt evenemang.
                Köpt plats vid ett evenemang kan inte återlösas eller bytas mot plats på annat evenemang.
                Observera att plats som betalats direkt vid bokningstillfället betraktas som köpt. Distansavtalslagen
                gäller ej vid köp av evenemangsbiljetter.
                </p>

                <p>
                <strong>Inställt evenemang</strong><br/>
                Ett evenemang anses vara inställt om evenemanget inte alls genomförs. Ändringar i repertoaren,
                ändrat datum, delvis genomfört evenemang och dylikt utgör således inte ett inställt evenemang och
                pengarna återbetalas i dessa fall normalt inte. Läs emellertid informationen om evenemanget.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
