<h2>Köp biljetter</h2>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3">Event</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{model.event.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Datum</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{moment-format model.event.date 'LLLL'}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Pris</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{model.event.price}}:-</p>
    </div>
  </div>
  <div class="form-group {{if model.errors.bookingType 'has-error'}}">
    <label class="control-label col-sm-3">Bokas som</label>
    <div class="radio col-sm-9">
      {{#radio-button
        value='business'
        groupValue=model.bookingType
        required=true}}
        Företag
      {{/radio-button}}
      {{#radio-button
        value='private'
        groupValue=model.bookingType
        required=true}}
        Privatperson
      {{/radio-button}}
    </div>
  </div>
  {{#if typeIsSet}}
    <div class="form-group {{if model.errors.name 'has-error'}}">
      <label class="control-label col-sm-3">{{if model.isPrivate 'Namn'}}{{if model.isBusiness 'Företagsnamn'}}</label>
      <div class="col-sm-9">
        {{input value=model.name class="form-control"}}
      </div>
    </div>
    {{#if model.isBusiness}}
      <div class="form-group {{if model.errors.contact_person 'has-error'}}">
        <label class="col-sm-3 control-label">Kontaktperson</label>
        <div class="col-sm-9">
          {{input value=model.contact_person class="form-control"}}
        </div>
      </div>
    {{/if}}
    <div class="form-group {{if model.errors.email 'has-error'}}">
      <label class="control-label col-sm-3">E-post</label>
      <div class="col-sm-9">
        {{input value=model.email class="form-control" name="email"}}
      </div>
    </div>
    <div class="form-group {{if showEmailDiffersMessage 'has-error'}}">
      <label class="control-label col-sm-3">Bekräfta E-post</label>
      <div class="col-sm-9">
        {{input value=confirmEmail class="form-control" autocomplete="off"}}
        {{#if showEmailDiffersMessage}}{{fa-icon 'exclamation-triangle' title='E-post adresserna matchar inte' class="text-danger"}}{{/if}}
        </div>
      </div>
      <div class="form-group {{if model.errors.phone_nr 'has-error'}}">
        <label class="control-label col-sm-3">Telefon</label>
        <div class="col-sm-9">
          {{input value=model.phone_nr class="form-control" name="phone_nr"}}
        </div>
      </div>
      <div class="form-group {{if model.errors.tickets 'has-error'}}">
        <label class="control-label col-sm-3">Antal biljetter</label>
        <div class="col-sm-9">
          {{input type="number" value=model.tickets class="form-control"}}
        </div>
      </div>
      <div class="form-group {{if model.errors.message 'has-error'}}">
        <label class="control-label col-sm-3">Meddelande</label>
        <div class="col-sm-9">
          {{textarea value=model.message class="form-control"}}
        </div>
      </div>
      {{#if showAdminFields}}
        <div class="form-group {{if model.errors.discount 'has-error'}}">
          <label class="control-label col-sm-3">Rabatt (kr)</label>
          <div class="col-sm-9">
            {{input type="number" value=model.discount class="form-control"}}:-
          </div>
        </div>
        <div class="form-group {{if model.errors.discount_message 'has-error'}}">
          <label class="control-label col-sm-3">Rabattmeddelande</label>
          <div class="col-sm-9">
            {{input value=model.discountMessage class="form-control" }}
          </div>
        </div>
        <div class="form-group {{if model.errors.memo 'has-error'}}">
          <label class="control-label col-sm-3">Notering (admin)</label>
          <div class="col-sm-9">
            {{textarea value=model.memo class="form-control"}}
          </div>
        </div>
        <div class="form-group {{if model.errors.paid 'has-error'}}">
          <label class="control-label col-sm-3">Betalning verifierad</label>
          <div class="col-sm-9">
            {{input type="checkbox" checked=model.paid class="form-control"}}
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <label class="control-label col-sm-3">Totalkostnad</label>
        <div class="col-sm-9">
          {{#if model.tickets}}<p class="form-control-static">{{model.calculatedTotalPrice}}:-</p>{{/if}} 
          </div>
        </div>
        {{#if model.errors}}
          <div class="alert alert-danger">
            {{#each model.errors as |error|}}
              {{error.message}}<br/>
            {{/each}}
          </div>
        {{/if}}
        <div class="form-group">
          <label class="control-label col-sm-3"></label>
          <div class="col-sm-9">
            <label for="termsCheckbox"> {{input type="checkbox" checked=model.termsAccepted id="termsCheckbox" class="inline-form-control"}} Jag bekräftar att jag har läst och accepterar <a href="#" data-toggle="modal" data-target="#termsModal">köpvillkoren</a></label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3">
            {{#unless savingMode}}
              <button {{action 'save' model}} class="btn btn-primary" disabled="{{model.saveDisabled}}">Spara bokning</button>
            {{else}}
              Sparar...
            {{/unless}}
          </div>
        </div>

        <div class="modal fade" id="termsModal" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Villkor</h3>
              </div>
              <div class="modal-body">
                <p>
                <strong>Köpeavtalet</strong><br/>
                Köpeavtalet är underkastat rättsreglerna i svensk lagstiftning. Avtalet är bindande för båda parter när
                Rockenstierna Nöjesproduktion AB har registrerat din bokning och kunden har godkänt villkoren.
                </p>

                <p>
                <strong>Betalning</strong><br/>
                Betalning sker vid bokning mot faktura.
                Om kredittiden passerat kommer en påminnelseavgift samt dröjsmålsränta att läggas på från första
                dagen efter att betaltiden gått ut.
                </p>

                <p>
                <strong>Biljetten</strong><br/>
                Om du får förhinder och inte kan delta i ett evenemang får du gärna ge din plats till en vän.
                </p>

                <p>
                <strong>Återbetalning</strong><br/>
                Köpta platser återbetalas endast vid inställt evenemang.
                Köpt plats vid ett evenemang kan inte återlösas eller bytas mot plats på annat evenemang.
                Observera att plats som betalats direkt vid bokningstillfället betraktas som köpt. Distansavtalslagen
                gäller ej vid köp av evenemangsbiljetter.
                </p>

                <p>
                <strong>Inställt evenemang</strong><br/>
                Ett evenemang anses vara inställt om evenemanget inte alls genomförs. Ändringar i repertoaren,
                ändrat datum, delvis genomfört evenemang och dylikt utgör således inte ett inställt evenemang och
                pengarna återbetalas i dessa fall normalt inte. Läs emellertid informationen om evenemanget.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
