
<div class="row">
  <div class="col-xs-3">
    {{#link-to 'events.index'}}{{fa-icon 'chevron-left'}} Tillbaka till listan{{/link-to}}
  </div>
  <div class="col-xs-9">
    <div class="pull-right">
      {{#if session.isAuthenticated}}
        <button class="btn btn-danger" {{action 'delete' model}}>Radera</button>
        {{#link-to 'events.show.edit' class="btn btn-default"}}Redigera{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<h1>{{model.name}} <small>{{moment-format model.date 'LLLL'}}</small></h1>
<strong>Biljetter kvar: </strong> {{fa-icon 'stop' class=model.availabilityString}} {{model.availabilityTranslation}}
<br/>
<strong>Biljettpris:</strong> {{model.price}}:- <span style="font-size: 10px">({{model.netPrice}}:- ex. moms)</span>
<p>{{model.description}}</p>

  {{#unless model.availabilityNone}}
    {{#link-to 'bookings.new' class="btn btn-primary"}}Köp biljetter{{/link-to}}
  {{/unless}}

  {{#if session.isAuthenticated}}
    <h2>Sålda biljetter</h2>
    <strong>Totalt sålda biljetter: </strong> {{model.totalTickets}} / {{model.seats}}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th style="text-align:center">Antal</th>
      <th style="text-align:center">Registrerades</th>
      <th style="text-align:center">Betalad</th>
      <th style="text-align:center">Förfallodatum</th>
      <th style="text-align:center">Notering</th>
    </tr>
  </thead>
  <tbody>
  {{#each model.bookings as |booking|}}
    <tr>
      <td><strong>ID: </strong>{{booking.id}} {{#link-to 'bookings.show.index' booking.token}}(öppna){{/link-to}}<br/>
          <strong>Namn:</strong> {{booking.name}}<br/>
          <strong>E-post:</strong> {{booking.email}}</td>
      <td style="text-align:center">{{booking.tickets}}</td>
      <td style="text-align:center">{{moment-format booking.createdAt 'LL'}}</td>
      <td style="text-align:center">{{#if booking.paid}}{{fa-icon 'check' class="text-success" size="lg" }}{{else}}{{fa-icon 'exclamation' class="text-danger" size="lg"}}{{/if}}</td>
      <td style="text-align:center">{{moment-format booking.dueDate 'LL'}} <br/><span style="color:{{if booking.overDue 'red' '#999'}}">({{booking.daysLeftUntilDue}})</span></td>
      <td>{{booking.memo}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<a href="v1/documents/{{model.id}}.xls?token={{session.session.content.authenticated.token}}" class="btn btn-default" target="_blank">Ladda ner bokningsinformation</a>
{{/if}}
