<div class="row">
  <div class="col-xs-3">
    {{#link-to 'events.show' model.event}}{{fa-icon 'chevron-left'}} Tillbaka till {{model.event.name}}{{/link-to}}
  </div>
  <div class="col-xs-9">
    <div class="pull-right">
      {{#if session.isAuthenticated}}
        <button class="btn btn-danger" {{action 'delete' model}}>Radera</button>
        {{#link-to 'bookings.show.edit' class="btn btn-default"}}Redigera{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<h2>Bokningsinformation</h2>
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Event</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{model.event.name}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Datum</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{moment-format model.event.date 'LL'}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Antal biljetter</label>
    <div class="col-sm-9">
      <p class="form-control-static">{{model.tickets}}</p>
    </div>
  </div>
    <div class="form-group">
      <label class="control-label col-sm-3">{{if model.isPrivate 'Namn'}}{{if model.isBusiness 'Företagsnamn'}}</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.name}}</p>
      </div>
    </div>
    {{#if isBusiness}}
      <div class="form-group">
        <label class="col-sm-3 control-label">Kontaktperson</label>
        <div class="col-sm-9">
        <p class="form-control-static">{{model.contact_person}}</p>
        </div>
      </div>
    {{/if}}
    <div class="form-group">
      <label class="control-label col-sm-3">E-post</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.email}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Telefon</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.phone_nr}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Meddelande</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.message}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Totalkostnad</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.totalPrice}}:-</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3">Betalning verifierad</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{if model.paid 'Ja' 'Nej'}}</p>
      </div>
    </div>

    {{#if session.isAuthenticated}}
    <div class="form-group">
      <label class="control-label col-sm-3">Notering (admin)</label>
      <div class="col-sm-9">
        <p class="form-control-static">{{model.memo}}</p>
      </div>
    </div>
    {{/if}}

    <a href="{{model.invoiceLink}}" target="_blank" class="btn btn-lg btn-primary">Visa faktura</a>
</div>
