<h1>Bokningar</h1>
  {{#link-to 'bookings.index' (query-params paid=false) class="btn btn-primary"}}Visa bara ej betalda bokningar{{/link-to}}
  {{#link-to 'bookings.index' (query-params paid=null) class="btn btn-primary"}}Visa alla bokningar{{/link-to}}
<table class="table">
  <thead>
    <tr>
      <th>{{#link-to 'bookings.index' (query-params sort_by="id ASC") }}Id{{/link-to}}</th>
      <th>{{#link-to 'bookings.index' (query-params sort_by="tickets DESC") }}Antal{{/link-to}}</th>
      <th>{{#link-to 'bookings.index' (query-params sort_by="created_at DESC") }}Registrerades{{/link-to}}</th>
      <th>{{#link-to 'bookings.index' (query-params sort_by="paid ASC") }}Betalad{{/link-to}}</th>
      <th>{{#link-to 'bookings.index' (query-params sort_by="due_date ASC") }}Förfallodatum{{/link-to}}</th>
      <th>{{#link-to 'bookings.index' (query-params sort_by="memo ASC") }}Notering{{/link-to}}</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |booking|}}
    <tr>
      <td><strong>ID: </strong>{{booking.id}} {{#link-to 'bookings.show.index' booking.token}}(öppna){{/link-to}}<br/>
          <strong>Namn:</strong> {{booking.name}}<br/>
          <strong>E-post:</strong> {{booking.email}}</td>
      <td>{{booking.tickets}}</td>
      <td>{{moment-format booking.createdAt 'LL'}}</td>
      <td>{{if booking.paid 'Ja' 'Nej'}}</td>
      <td>{{moment-format booking.dueDate 'LL'}} <br/>{{booking.daysLeftUntilDue}}</td>
      <td>{{booking.memo}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
